@model IEnumerable<SuperHeros.Models.SuperHeros>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuperHeros</h4>
    <hr />
    @foreach (var superhero in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => superhero.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlterEgo)
            </dt>

            <dd>
                @Html.DisplayFor(model => superhero.AlterEgo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimaryAbility)
            </dt>

            <dd>
                @Html.DisplayFor(model => superhero.PrimaryAbility)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecondaryAbility)
            </dt>

            <dd>
                @Html.DisplayFor(model => superhero.SecondaryAbility)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CatchPhrase)
            </dt>

            <dd>
                @Html.DisplayFor(model => superhero.CatchPhrase)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { Id = superhero.Id }) |
            @Html.ActionLink("Delete", "Delete", new { Id = superhero.Id})
        </p>
    }
</div>






